.character {
  padding: 1em .5em;
  border-top: 1px solid #efefef;
  text-align: center;
  &.expanded {
    background-color: rgba(#fff, .2);
  }
  &.dead {
    background-color: rgba(#f00, .25);
    .character-portrait img {
      filter: grayscale(100%) brightness(30%);
    }
  }
}
.character-portrait {
  position: relative;
  display: inline-block;
  max-width: 150px;
  max-height: 150px;
  padding: 0;
  border-radius: 50%;
  transition: box-shadow .4s ease-out;
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    outline: none;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #000, 0 0 0 7px #fff;
  }
  img {
    width: 100%;
    border-radius: inherit;
  }
}
.icon--skull {
  position: absolute;
  top: 55%;
  left: 47%;
  transform-origin: center center;
  transform: translate(-50%, -50%);
  height: 140%;
  opacity: 0;
  animation: fade-in .2s ease-out forwards;
}
.attribute-value {
  display: inline-block;
  box-sizing: border-box;
  width: 2em;
  height: 2em;
  margin: 0 .0625em;
  padding: .5em;
  border: none;
  border-radius: 1em;
  line-height: 1;
  text-align: center;
  color: #fff;
  background: none;
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    outline: none;
    color: #333;
    background-color: rgba(#01ff70, .8);
  }
  &.default {
    font-weight: 700;
    background-color: rgba(#fff, .1);
  }
  &.active {
    font-weight: 700;
    color: #333;
    background-color: #01ff70;
  }
  &:last-child.active {
    animation: glow 1s ease-in-out alternate infinite;
  }
}
